%h1 Список товаров

.row
  .list-group
    .col-md-9
      - @products.each do |product|
        =link_to product, :class => "list-group-item" do
          .list-group-item-text
            %p= product.name
          .list-group-item-text
            %p= product.discription
          .list-group-item-number
            %b= number_to_currency(product.price)
          .list-group-item-number
            %b= product.weight
          = link_to 'Показать', product, class:"btn btn-primary"
          = link_to 'Редактировать', edit_product_path(product), class:"btn btn-primary"
          = link_to 'Удалить', product, :method => :delete, :data => { :confirm => 'Вы уверены?' }, class:"btn btn-primary"

=paginate @products

%h4= link_to 'Новый товар', new_product_path, class:"btn btn-primary"
