%p#notice= notice

%p
  %b Название:
  = @product.name
%p
  %b Описание:
  = @product.discription
%p
  %b Цена:
  = number_to_currency(@product.price)
%p
  %b Вес:
  = @product.weight

= link_to 'Редактировать', edit_product_path(@product)
\|
= link_to 'Назад', products_path
\|
= link_to line_items_path(product_id:@product.id), data:{method: :post}, class: "btn btn-primary" do
  Добавить в корзину